{% extends '::base.html.twig' %}

{% block body %}
    {% set zone = pageRepository.getZone(page, 'left', true) %}
    {% if zone != null %}
        <div class="zone zone-left">
            {{ zone.name }}
            {% for block in zone.getBlocks() %}
                <div class="block block-{{ loop.index }}">
                    {{ renderer.render(block)|raw }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% set zone = pageRepository.getZone(page, 'center') %}
    {% if zone != null %}
        <div class="zone zone-center">
            {{ zone.name }}
            {% for block in zone.getBlocks() %}
            <div class="block block-{{ loop.index }}">
                {{ renderer.render(block)|raw }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% set zone = pageRepository.getZone(page, 'right', true) %}
    {% if zone != null %}
        <div class="zone zone-right">
            {{ zone.name }}
            {% for block in zone.getBlocks() %}
                <div class="block block-{{ loop.index }}">
                    {{ renderer.render(block)|raw }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
